<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>news-detail</title>
</head>
<body>
    <h1>{{ object.name }}</h1>
    <p>Содержание: {{ object.content }}</p>
    <ul>
        {% for comment in object.comments.all %}
        <li>
            <p> Комментарий: {{comment.user_comment}} </p>
            <p> Автор: {{comment.user_name}} </p>
        </li>
        {% endfor %}
    </ul>
    <form>
        <p><b>Добавить комментарий:</b></p>
        <p><textarea rows="5" cols="35" name="text"></textarea></p>
        <p><input type="submit" value="Добавить"></p>
    </form>
</body>
</html>