{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Информация о блоге' %}</title>
</head>
<body>
    <header>
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>
    </header>

    <h2>{{ object.title }}</h2>
    <a href="{% url 'main' %}">{% trans 'На Главную страницу' %}</a>

    <p>{% trans 'Содержание статьи' %}: {{ object.article }}</p>
    <p> {% trans 'Автор' %}: {{object.username}} </p>

    <h2>{% trans 'Файлы к статье' %}:</h2>
    {% if article_files %}
    <ul>
        {% for file in article_files %}
        <li>
            <a href="/media/{{file}}">{{file.filename}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>{% trans 'Файлов для статьи нет' %}</p>
    {% endif %}
</body>
</html>