{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Главная' %}</title>
</head>
<body>
    <header>
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>
    </header>

    <h2>{% trans 'Это главная страница' %}!</h2>
    {% if request.user.is_authenticated %}
        <h3>{% trans 'Добро пожаловать на сайт' %} {{ request.user.username }}</h3>
        <p>{% trans 'Имя пользователя' %}: {{ request.user.profile.first_name}}</p>
        <p>{% trans 'Город' %}: {{ request.user.profile.city }}</p>
         <p><a href="{% url 'logout' %}">{% trans Выйти %}</a></p>
    {% else %}
        <h3>{% trans 'Вы неавторизованный пользователь' %}.</h3>
        <p><a href="{% url 'login' %}">{% trans 'Войти' %}</a></p>
        <p><a href="{% url 'register' %}">{% trans 'Регистрация' %}</a></p>

    {% endif %}

    <h2>{% trans 'Список статей' %}:</h2>
    {% if blog_list %}
    <ul>
        {% for blog in blog_list %}
        <li>
            <a href="/blog/{{ blog.id }}">{{ blog.username }} <p>{{ blog }}</p></a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>{% trans 'Список пуст' %}</p>
    {% endif %}
</body>
</html>