<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все новости</title>
</head>
<body>
    <h2>Это главная страница!</h2>

    {% if request.user.is_authenticated %}
        <h3>Добро пожаловать на сайт {{ request.user.username }}</h3>
        <a href="{% url 'logout' %}">Выйти</a>

    {% else %}
        <h3>Вы неавторизованны на нашем сайте.</h3>
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
    <p><a href="{% url 'comment_add' %}">Добавить комментарий</a></p>
    <h2>Все новости:</h2>
    {% if news_list %}
    <ul>
        {% for news in news_list %}
        <li>
            <a href="/news/{{ news.id }}">{{ news.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Список пуст</p>
    {% endif %}
</body>
</html>