<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить комментарий</title>
</head>
<body>
    <h2>Добавить комментарий</h2>
   {% if request.user.is_authenticated %}
        <h3>
            Добавить комментарий от {{ request.user.username }}
            <a href="{% url 'logout' %}">Выйти</a>
        </h3>
        <div>
            <form method="POST" class="post-auth-form">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <p><button type="submit">Добавить</button></p>
            </form>
        </div>
    {% else %}
        <h3>
            Вы неавторизованны на нашем сайте.
            <a href="{% url 'login' %}">Войти</a>
        </h3>
        <div>
            <form method="POST" class="post-not-auth-form">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <p><input type="submit" value="Добавить"></p>
            </form>
        </div>
    {% endif %}
</body>
</html>