<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ads</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>Выбор категории из списка</legend>
            <p><select size="3">
            <option disabled>Выберите регион</option>
            {% for category in category_lst %}
            <option>{{category}}</option>
            {% endfor %}
            </select></p>
        </fieldset>

        <fieldset>
            <legend>Контактная информация</legend>
            <p><select size="3">
            <option disabled>Выберите регион</option>
            {% for region in regions_lst3 %}
            <option>{{region}}</option>
            {% endfor %}
            </select></p>
        </fieldset>

        <p><b>Введите название объявления:</b></p>
        <p><textarea rows="5" cols="35" name="text"></textarea></p>
        <p><input type="submit" value="Найти"></p>
    </form>
</body>
</html>